@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: IBM Plex Mono;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
}
